<!-- <p>user-registration-form works!</p> -->
<mat-card>
  <mat-card-header style="margin-bottom: 10px">
    <mat-card-title><h3>Sign Up!</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          type="email"
          placeholder="Email"
          name="Email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter Birthday</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="userData.Birthday"
          name="Birthday"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      style="margin-left: 60%"
      mat-raised-button
      (click)="registerUser()"
      color="primary"
    >
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>
