mat-form-field {
  margin-right: 10px;
  font-size: large;
}

mat-card-header {
  font-size: large;
  margin-bottom: 10px;
}

.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
